/* Product.jsx */
#imageBox {
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#imageBox > img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}
#profileBox {
  padding: 16px;
  margin-top: 8px;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
}
#profileBox > img {
  width: 50px;
  height: 50px;
}
#profileBox > span {
  font-size: 15px;
  margin-left: 8px;
  font-weight: 600;
}
#contentsBox {
  padding: 16px;
}
#name {
  font-size: 20px;
  font-weight: 400;
}
#price {
  font-size: 16px;
  font-weight: 600;
}
#createdAt {
  font-size: 12px;
  color: rgb(204, 204, 204);
}
#description {
  margin-top: 16px;
  font-size: 16px;
}
#purchaseButton {
  margin: 16px 0;
}

/* UploadPage.jsx */
.UploadPage {
  padding-top: 36px;
}
#uploadImgPlaceholder {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(230, 230, 230);
  background: rgb(250, 250, 253);
  margin-left: 16px;
}
#uploadImgPlaceholder > img {
  width: 50px;
  height: 50px;
}

#uploadImgPlaceholder > span {
  font-size: 14px;
  color: rgb(195, 194, 204);
}

#uploadImg {
  width: 200px;
  height: 200px;
  margin-left: 16px;
  object-fit: contain;
}

.upload-name {
  width: 300px;
}
.upload-label {
  font-size: 18px;
}
#productDescription {
  height: 150px;
}
#submitButton {
  float: right;
  background-color: rgb(30, 120, 255);
  color: #fff;
  border: none;
  border-radius: 0;
  margin-top: 16px;
}
